:root {
  --primary: #2563eb;
  --secondary: #0f172a;
  --success: #10b981;
  --warning: #f59e0b;
  --danger: #ef4444;

  --bg: #f1f5f9;
  --card: #ffffff;
  --text: #0f172a;
  --text-light: #64748b;
  --border: #e2e8f0;
}

.dark {
  --bg: #0f172a;
  --card: #1e293b;
  --text: #ffffff;
  --text-light: #94a3b8;
  --border: #334155;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn", sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
}

.container {
  display: flex;
}

/* Sidebar */

.sidebar {
  width: 230px;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background: var(--secondary);
  color: white;
  padding: 25px;
}

.logo {
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 35px;
}

.menu {
  list-style: none;
}

.menu li {
  padding: 14px 18px;
  margin-bottom: 8px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}
.menu li a {
  text-decoration: none;
  color: white;
}
.menu li:hover,
.menu li.active {
  background: #2563eb;
}

.main {
  margin-right: 230px;
  width: 100%;
  padding: 25px;
}

/* Navbar */

.navbar {
  background: var(--card);
  border-radius: 20px;
  padding: 18px 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.edu_name {
  font-size: 38px;
  font-weight: bold;
}

.right-box {
  display: flex;
  gap: 15px;
  align-items: center;
}

.dark-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: var(--primary);
  color: white;
}

.profile {
  background: var(--bg);
  padding: 10px 15px;
  border-radius: 12px;
}
.profile a {
  text-decoration: none;
  color: var(--text);
}

/* Welcome */

.hero {
  margin-top: 25px;
  background: linear-gradient(135deg, #2563eb, #4f46e5);
  color: white;
  border-radius: 25px;
  padding: 30px;
}

.hero h1 {
  margin-bottom: 10px;
}

/* Stats */

.stats {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: var(--card);
  border-radius: 20px;

  padding: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 15px;
}

.blue {
  background: #dbeafe;
}

.green {
  background: #dcfce7;
}

.orange {
  background: #fef3c7;
}

.red {
  background: #dff0c2;
}
.red{
  background: rgb(227, 191, 204);
}
.purple{
  background: rgb(196, 191, 200);
}
.number {
  font-size: 30px;
  font-weight: 800;
}

.label {
  color: var(--text-light);
  padding-right: 40%;
}
.label a{
  text-decoration: none;
  color: var(--text);
}
/* Content */
.show {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  margin-top: 25px;
}

.panel {
  background: var(--card);
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
}

.panel h3 {
  margin-bottom: 20px;
}

.table {
  margin-top: 25px;
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid var(--border);
}

.status {
  padding: 5px 12px;
  border-radius: 30px;
  color: var(--text);
} */

@media (max-width: 900px) {
  .sidebar {
    width: 160px;
  }

  .logo {
    font-size: 18px;
  }

  .menu li {
    text-align: center;
    padding: 12px;
  }

  .main {
    margin-right: 90px;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .search {
    width: 150px;
  }
}
